body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;
  animation: fadeIn 1s ease-in-out;
}

.icon-container {
  margin-bottom: 15px;
}

.animated-icon {
  width: 100px;
  height: 100px;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

h2 {
  color: #555;
  margin-bottom: 20px;
  font-size: 18px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s;
  box-sizing: border-box;
}

input:focus {
  border-color: #777;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  transition: transform 0.3s;
  width: 48%;
  box-sizing: border-box;
}

.btn-submit {
  background-color: #ffeb3b;
  color: #000;
}

.btn-edit {
  background-color: #f44336;
}

.btn-edit i {
  margin-right: 5px;
}

.btn:hover {
  transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    width: 90%;
    padding: 15px;
  }

  .button-container {
    flex-direction: column;
    gap: 10px;
  }

  .btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
  }
}
